.menu-heading {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

/*Apply specified family, size, margin, and color to h1-h4*/

p {
    color: rgb(148, 81, 4);
    font-style: italic; 
    line-height: 120%;
    font-size: 20px;
    margin: .5em;
    padding:.5em;
}

h1 {
    color: rgb(92, 32, 32);
    font-family: Arial, sans-serif;
    font-size: 34px;
    margin: 2px;
    size: 34px;
    margin: 0em;
    padding:0em
}

h2 {
    color: rgb(231, 9, 9);
    font-family: Arial, sans-serif;
    font-size: 32px; 
    margin: 10px;
    padding: 0em;
}

h3 {
    color: rgb(250, 115, 4);
    font-family: Arial, sans-serif;
    font-size: 30px;
    margin: 3px;
    padding: 0em;
}

h4 {
    color: rgb(65, 35, 1);
    font-family: Arial, sans-serif;
    font-size: 26px;
    margin: 5px;
}

body {
    background-color: rgba(231, 217, 28, 0.048);
}
